.custom-long-text {
	width: 80%;
}

.custom-full-width {
	width: 100%;
}

.custom-width-order {
	width: 55px;
}

.custom-width-buttons {
	width: 220px;
	text-align: center;
}

a.custom-copy-button {
	margin: 0 2px 0 0;
	padding: 3px 6px 3px 6px;
}

.custom-slideshow-image-custom-width {
	width: 220px;
}

.custom-invisible {
	visibility: hidden;
}

.drag {
    background: url(../images/drag.png) no-repeat center center;
	cursor: move;
}